/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.mx-auto {
  margin: 0 auto;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align-last: left;
}

.text-secondary {
  color: #747474;
}

.text-light {
  color: #F7F9FD;
}

.text-info {
  color: #56C4C5;
}

.text-dark {
  color: #221E1F;
}

.fw-bold {
  font-weight: bold;
}

.bg-bright {
  background: #f5f5f5;
}

.bg-light {
  background: #F7F9FD;
}

.bg-info {
  background: #56C4C5;
}

.radius {
  border-radius: 12px;
}

.shadow {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .mb-md-1 {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .mb-md-2 {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .mb-md-3 {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .mb-md-4 {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .mb-md-5 {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 48px;
  }
}

.fs-0 {
  font-size: 16px;
}

.fs-1 {
  font-size: 18px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 28px;
}

.fs-5 {
  font-size: 32px;
}

.fs-6 {
  font-size: 48px;
}

@media (min-width: 768px) {
  .fs-md-0 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .fs-md-1 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .fs-md-2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .fs-md-3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .fs-md-4 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .fs-md-5 {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .fs-md-6 {
    font-size: 48px;
  }
}

.container {
  max-width: 1104px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-1, .col-md-1, .col-2, .col-md-2, .col-3, .col-md-3, .col-4, .col-md-4, .col-5, .col-md-5, .col-6, .col-md-6, .col-7, .col-md-7, .col-8, .col-md-8, .col-9, .col-md-9, .col-10, .col-md-10, .col-11, .col-md-11, .col-12, .col-md-12 {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
}

@media (min-width: 375px) {
  .col-1 {
    max-width: 8.33333%;
  }
  .col-2 {
    max-width: 16.66667%;
  }
  .col-3 {
    max-width: 25%;
  }
  .col-4 {
    max-width: 33.33333%;
  }
  .col-5 {
    max-width: 41.66667%;
  }
  .col-6 {
    max-width: 50%;
  }
  .col-7 {
    max-width: 58.33333%;
  }
  .col-8 {
    max-width: 66.66667%;
  }
  .col-9 {
    max-width: 75%;
  }
  .col-10 {
    max-width: 83.33333%;
  }
  .col-11 {
    max-width: 91.66667%;
  }
  .col-12 {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
  }
  .col-sm-2 {
    max-width: 16.66667%;
  }
  .col-sm-3 {
    max-width: 25%;
  }
  .col-sm-4 {
    max-width: 33.33333%;
  }
  .col-sm-5 {
    max-width: 41.66667%;
  }
  .col-sm-6 {
    max-width: 50%;
  }
  .col-sm-7 {
    max-width: 58.33333%;
  }
  .col-sm-8 {
    max-width: 66.66667%;
  }
  .col-sm-9 {
    max-width: 75%;
  }
  .col-sm-10 {
    max-width: 83.33333%;
  }
  .col-sm-11 {
    max-width: 91.66667%;
  }
  .col-sm-12 {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
  }
  .col-md-2 {
    max-width: 16.66667%;
  }
  .col-md-3 {
    max-width: 25%;
  }
  .col-md-4 {
    max-width: 33.33333%;
  }
  .col-md-5 {
    max-width: 41.66667%;
  }
  .col-md-6 {
    max-width: 50%;
  }
  .col-md-7 {
    max-width: 58.33333%;
  }
  .col-md-8 {
    max-width: 66.66667%;
  }
  .col-md-9 {
    max-width: 75%;
  }
  .col-md-10 {
    max-width: 83.33333%;
  }
  .col-md-11 {
    max-width: 91.66667%;
  }
  .col-md-12 {
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .col-lg-1 {
    max-width: 8.33333%;
  }
  .col-lg-2 {
    max-width: 16.66667%;
  }
  .col-lg-3 {
    max-width: 25%;
  }
  .col-lg-4 {
    max-width: 33.33333%;
  }
  .col-lg-5 {
    max-width: 41.66667%;
  }
  .col-lg-6 {
    max-width: 50%;
  }
  .col-lg-7 {
    max-width: 58.33333%;
  }
  .col-lg-8 {
    max-width: 66.66667%;
  }
  .col-lg-9 {
    max-width: 75%;
  }
  .col-lg-10 {
    max-width: 83.33333%;
  }
  .col-lg-11 {
    max-width: 91.66667%;
  }
  .col-lg-12 {
    max-width: 100%;
  }
}

.header-index {
  height: 100vh;
  background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home_sm.svg") no-repeat 20px 90%;
  background-size: calc( 100% - 40px);
  position: relative;
}

@media (min-width: 768px) {
  .header-index {
    background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home.svg") no-repeat right top;
    background-size: contain;
  }
}

.header-index .icon-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  color: #747474;
}

.header-index .banner {
  padding-top: 32px;
}

@media (min-width: 768px) {
  .header-index .banner {
    padding-top: 30px;
  }
}

.horizontal {
  border-bottom: 2px solid #FFD153;
}

@media (min-width: 768px) {
  .horizontal {
    border-bottom: none;
  }
}

.nav {
  padding: 16px 0;
}

@media (min-width: 768px) {
  .nav {
    padding: 24px 0;
  }
}

.nav-logo a {
  background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/logo.svg") no-repeat center;
  background-size: contain;
  width: 131px;
  height: 40px;
  vertical-align: middle;
  text-indent: 101%;
  word-spacing: nowrap;
  overflow: hidden;
  display: inline-block;
}

@media (min-width: 768px) {
  .nav-logo a {
    width: 218px;
    height: 40px;
  }
}

.nav-btn {
  padding: 8px 32px;
  background: #FF5D50;
  border-radius: 100px;
}

.social {
  margin: 100px 0 60px;
}

@media (min-width: 768px) {
  .social {
    margin-bottom: 100px;
  }
}

.social-img {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .social-img {
    width: 90px;
    height: 90px;
  }
}

.social h4 {
  white-space: nowrap !important;
}

.character {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .character {
    margin-bottom: 100px;
  }
}

.character-card {
  overflow: hidden;
  height: 100%;
}

.character-card .card-img {
  vertical-align: middle;
}

.character-card .card-content {
  padding: 16px 16px 24px;
}

.feature {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .feature {
    margin-bottom: 100px;
  }
}

.feature-list {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 960px) {
  .feature-list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.feature-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 960px) {
  .feature-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.feature-card {
  max-width: 90%;
  padding: 48px 32px;
  height: 100%;
}

@media (min-width: 768px) {
  .feature-card {
    max-width: 230px;
    margin: 0 0 auto 0;
    padding: 16px 8px;
  }
}

@media (min-width: 960px) {
  .feature-card {
    padding: 48px 32px;
  }
}

.feature-card .card-icon {
  width: 86px;
  height: 86px;
  border-radius: 200px;
}

.feature-btn {
  padding: 12px 32px;
  border-radius: 200px;
}

.feedback {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .feedback {
    margin-bottom: 100px;
  }
}

.feedback-title {
  margin-bottom: 88px;
}

@media (min-width: 768px) {
  .feedback-title {
    margin-bottom: 104px;
  }
}

.feedback-hide {
  display: none;
}

@media (min-width: 768px) {
  .feedback-hide {
    display: block;
  }
}

.feedback-axis .dot {
  width: 10px;
  height: 10px;
  background: #ddd;
  margin: 0 4px;
  border-radius: 100px;
}

.feedback-card {
  position: relative;
  padding: 48px 32px 24px;
}

.feedback-card .card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  position: absolute;
  top: -56px;
}

.feedback-card .card-comment {
  padding-bottom: 24px;
  border-bottom: 1px solid #ddd;
}

.feedback-card .icon-stars img {
  width: 16px;
  height: 16px;
}

.footer {
  margin-bottom: 60px;
  background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/master/images/home_footer.png") no-repeat center top 0%;
  background-size: cover;
  padding-top: 260px;
}

@media (min-width: 768px) {
  .footer {
    margin-bottom: 100px;
  }
}

.footer-btn {
  padding: 12px 32px;
  border-radius: 200px;
}

.copyright {
  padding: 16px 0;
}

@media (min-width: 768px) {
  .header-scheme {
    background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme.svg") no-repeat top right;
    background-size: contain;
  }
}

.header-scheme .banner {
  padding-top: 48px;
  height: calc( 100vh - 72px);
  background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme_sm.svg") no-repeat right;
  background-size: cover;
}

@media (min-width: 768px) {
  .header-scheme .banner {
    padding-top: 92px;
    height: calc( 100vh - 88px);
  }
}

@media (min-width: 576px) {
  .header-scheme .banner {
    background: url("https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme.svg") no-repeat top center;
  }
}

@media (min-width: 768px) {
  .header-scheme .banner {
    background: none;
  }
}

.header-scheme .scheme-background {
  position: absolute;
  background: #F7F9FD;
  height: calc( 100% - 72px);
  width: 100%;
  border-radius: 0 0 0 150px;
  top: 72px;
  left: 0;
  z-index: -10;
}

@media (min-width: 576px) {
  .header-scheme .scheme-background {
    height: 470px;
  }
}

@media (min-width: 768px) {
  .header-scheme .scheme-background {
    top: 0;
    left: 0;
    border-radius: 0 0 0 350px;
  }
}

.options {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .options {
    margin-bottom: 100px;
  }
}

.options-scrollbar {
  overflow-x: auto;
}

.options-btns {
  width: 542px;
  margin: 0 auto 16px;
}

.options-btns a {
  padding: 8px 16px;
  border-radius: 100px;
  margin: 0 8px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .options-btns a {
    padding: 12px 32px;
  }
}

.options .card-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 16px;
}

.options .card-body {
  padding: 32px 28px;
}

.options .card-list {
  font-size: 14px;
}

@media (min-width: 576px) {
  .options .card-list {
    font-size: 16px;
  }
}

.options .card-list img {
  margin-right: 12px;
}

@media (min-width: 768px) {
  .options .card-list img {
    width: 16px;
    height: 14px;
  }
}

.options .card-btn a {
  padding: 12px 32px;
  border-radius: 100px;
}

@media (min-width: 768px) {
  .switch {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.switch-item {
  width: 169px;
  height: 108px;
}

.switch-icon {
  margin: 0 6px;
}

.switch-text {
  font-size: 12px;
}

.switch sub {
  font-size: 12px;
}

.faq {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .faq {
    margin-bottom: 100px;
  }
}

.faq-item {
  padding: 16px;
}

@media (min-width: 768px) {
  .faq-item {
    padding: 16px 32px;
  }
}

.faq-icon {
  cursor: pointer;
}

@media (min-width: 768px) {
  .faq-icon {
    font-size: 20px;
  }
}

.faq-answer {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .faq-answer {
    margin-top: 24px;
  }
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: '';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}
/*# sourceMappingURL=all.css.map */