// Page-index
// header
.header-index {
  height: 100vh;
  background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home_sm.svg') no-repeat 20px 90%;
  background-size: calc( 100% - 40px );
  position: relative;
  @include desktop {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home.svg') no-repeat right top;
    background-size: contain;
  }
  .icon-arrow {
    position: absolute;
    left: 50%;
    transform: translateX( -50% );
    bottom: 20px;
    color: #747474;
  }
  .banner {
    padding-top: 32px;
    @include desktop {
      padding-top: 30px;
    }
  }
}
.horizontal {
  border-bottom: 2px solid $warning;
  @include desktop {
    border-bottom: none;
  }
}

// nav
.nav {
  padding: 16px 0;
  @include desktop {
    padding: 24px 0;
  }
  &-logo a {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/logo.svg') no-repeat center;
    background-size: contain;
    width: 131px;
    height: 40px;
    vertical-align: middle;
    @include textHide;
    @include desktop {
      width: 218px;
      height: 40px;
    }
  }
  &-btn {
    padding: 8px 32px;
    background: $danger;
    border-radius: 100px;
  }
}

// social
.social {
  margin: 100px 0 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-img {
    width: 60px;
    height: 60px;
    @include desktop {
      width: 90px;
      height: 90px;
    }
  }
  h4 {
    white-space: nowrap !important;
  }
}

// character
.character {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-card {
    overflow: hidden;
    height: 100%;
  }
  &-card .card-img {
    vertical-align: middle;
  }
  &-card .card-content {
    padding: 16px 16px 24px;
  }
}

// feature
.feature {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-list {
    order: 2;
    @include desktop-lg {
      order: 1;
    }
  }
  &-content {
    order: 1;
    @include desktop-lg {
      order: 2;
    }
  }
  &-card {
    max-width: 90%;
    padding: 48px 32px;
    height: 100%;
    @include desktop {
      max-width: 230px;
      margin: 0 0 auto 0;
      padding: 16px 8px;
    }
    @include desktop-lg {
      padding: 48px 32px;
    }
  }
  &-card .card-icon {
    width: 86px;
    height: 86px;
    border-radius: 200px;
  }
  &-btn {
    padding: 12px 32px;
    border-radius: 200px;
  }
}

// feedback
.feedback {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-title {
    margin-bottom: 88px;
    @include desktop {
      margin-bottom: 104px;
    }
  }
  &-hide {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &-axis .dot {
    width: 10px;
    height: 10px;
    background: #ddd;
    margin: 0 4px;
    border-radius: 100px;
  }
}

.feedback-card {
  position: relative;
  padding: 48px 32px 24px;
  .card-avatar {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    position: absolute;
    top: -56px;
  }
  .card-comment {
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
  }
  .icon-stars img {
    width: 16px;
    height: 16px;
  }
}

// footer
.footer {
  margin-bottom: 60px;
  background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/master/images/home_footer.png') no-repeat center top 0%;
  background-size: cover;
  padding-top: 260px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-btn {
    padding: 12px 32px;
    border-radius: 200px;
  }
}

// copyright
.copyright {
  padding: 16px 0;
}

// Page-scheme
// header
.header-scheme {
  @include desktop {
    background: url('/images/banner_scheme.svg') no-repeat top right;
    background-size: contain;
  }
  .banner {
    padding-top: 48px;
    height: calc( 100vh - 72px );
    @include desktop {
      padding-top: 92px;
      height: calc( 100vh - 88px );
    }
    background: url('/images/banner_scheme_sm.svg') no-repeat right;
    background-size: cover;
    @include pad-lg {
      background: url('/images/banner_scheme.svg') no-repeat top center;
    }
    @include desktop {
      background: none;
    }
  }

  .scheme-background {
    position: absolute;
    background: $light;
    height: calc( 100% - 72px );
    width: 100%;
    border-radius: 0 0 0 150px;
    top: 72px;
    left: 0;
    z-index: -10;
    @include pad-lg {
      height: 470px;
    }
    @include desktop {
      top: 0;
      left: 0;
      border-radius: 0 0 0 350px;
    }
  }
}

// options
.options {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-scrollbar {
    overflow-x: auto;
  }
  &-btns {
    width: 542px;
    margin: 0 auto 16px;
  }
  &-btns a {
    padding: 8px 16px;
    border-radius: 100px;
    margin: 0 8px;
    white-space: nowrap;
    @include desktop {
      padding: 12px 32px;
    }
  }
  .card-title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0 16px;
  }
  .card-body {
    padding: 32px 28px;
  }
  .card-list {
    font-size: 14px;
    @include pad-lg {
      font-size: 16px;
    }
  }
  .card-list img {
    margin-right: 12px;
    @include desktop {
      width: 16px;
      height: 14px;
    }
  }
  .card-btn a {
    padding: 12px 32px;
    border-radius: 100px;
  }
}
.switch {
  @include desktop {
    justify-content: space-between;
  }
  &-item {
    width: 169px;
    height: 108px;
  }
  &-icon {
    margin: 0 6px;
  }
  &-text {
    font-size: 12px;
  }
  sub {
    font-size: 12px;
  }
}

// FAQ
.faq {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-item {
    padding: 16px;
    @include desktop {
      padding: 16px 32px;
    }
  }
  &-icon {
    @include desktop {
      font-size: 20px;
    }
  }
  &-answer {
    margin-top: 16px;
    @include desktop {
      margin-top: 24px;
    }
  }
}