// Page-index
// header
.header-index {
  height: 100vh;
  background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home_sm.svg') no-repeat 20px 90%;
  background-size: calc( 100% - 40px );
  @include desktop {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/bg_home.svg') no-repeat right top;
    background-size: contain;
  }
  .horizontal {
    border-bottom: 2px solid $warning;
    @include desktop {
      border-bottom: none;
    }
  }
  .icon-arrow {
    left: 50%;
    transform: translateX( -50% );
    bottom: 20px;
    color: #747474;
    &:hover {
      color: $info;
      transition: .2s;
    }
  }
  .banner {
    padding-top: 32px;
    @include desktop {
      padding-top: 30px;
    }
  }

  .header-ball {
    background: none;
    @include pad-lg {
      background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball01.svg') no-repeat right;
      background-size: cover;
      width: 100px;
      height: 200px;
      bottom: -80px;
      z-index: -10;
    }
    @include desktop {
      width: 138px;
      height: 360px;
    }
  }
}

// nav
.nav {
  padding: 16px 0;
  @include desktop {
    padding: 24px 0;
  }
  &-logo a {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/02868bc2682c15a0c8f93829d6d17f558521a9e6/images/logo.svg') no-repeat center;
    background-size: contain;
    width: 131px;
    height: 40px;
    vertical-align: middle;
    @include textHide;
    @include desktop {
      width: 218px;
      height: 40px;
    }
  }
  &-btn {
    padding: 8px 32px;
    background: $danger;
    border-radius: 100px;
    &:hover {
      background: $info;
      transition: .2s;
    }
  }
}

// social
.social {
  margin: 100px 0 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-img {
    width: 60px;
    height: 60px;
    @include desktop {
      width: 90px;
      height: 90px;
    }
  }
  h4 {
    white-space: nowrap !important;
  }

  &-ball {
    background: #000;
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball01.svg') no-repeat right;
    background-size: cover;
    width: 49px;
    height: 126px;
    left: 0;
    top: 0;
    @include pad-lg {
      background: none;
    }
  }
}

// character
.character {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-card {
    overflow: hidden;
  }
  &-card .card-img {
    vertical-align: middle;
  }
  &-card .card-content {
    padding: 16px 16px 24px;
  }

  &-ball {
    background: none;
    @include pad-lg {
      background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball02.svg') no-repeat;
      background-size: cover;
      width: 140px;
      height: 180px;
      right: 0;
      bottom: -40%;
      z-index: -10;
    }
    @include desktop {
      width: 210px;
      height: 310px;
    }
  }
}

// feature
.feature {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-list {
    order: 2;
    @include desktop-lg {
      order: 1;
    }
  }
  &-content {
    order: 1;
    @include desktop-lg {
      order: 2;
    }
  }
  &-card {
    max-width: 90%;
    padding: 48px 32px;
    @include desktop {
      max-width: 230px;
      margin: 0 0 auto 0;
      padding: 16px 8px;
    }
    @include desktop-lg {
      padding: 48px 32px;
    }
  }
  &-card .card-icon {
    width: 86px;
    height: 86px;
    border-radius: 200px;
  }
  &-btn {
    padding: 12px 32px;
    border-radius: 200px;
    &:hover {
      background: $danger;
      transition: .2s;
    }
  }

  &-ball {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball02.svg') no-repeat left;
    background-size: cover;
    width: 88px;
    height: 135px;
    top: -160px;
    right: 0;
    z-index: -10;
    @include pad-lg {
      background: none;
    }
  }
}

// feedback
.feedback {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-title {
    margin-bottom: 88px;
    @include desktop {
      margin-bottom: 104px;
    }
  }
  .swiper { // swiper setting
    max-width: 1104px;
    width: 100%;
    padding: 0 8px !important;
  }
  &-axis .dot {
    width: 10px;
    height: 10px;
    background: #ddd;
    margin: 0 4px;
    border-radius: 100px;
  }
  .dot-active {
    width: 16px;
    height: 10px;
    background: $warning;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $secondary;
  }
  .swiper-pagination-bullet-active {
    width: 16px;
    background: $warning;
    border-radius: 100px;
    transition: .2s;
  }

  

  &-ball {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball03.svg') no-repeat right;
    background-size: cover;
    width: 77px;
    height: 153px;
    left: 0;
    top: 20px;
    z-index: -10;
    @include desktop-lg {
      width: 150px;
      height: 150px;
      left: 50px;
      top: -40px;
    }
  }
}

.feedback-card {
  padding: 48px 32px 24px;
  .card-avatar {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    top: -56px;
  }
  .card-comment {
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
  }
  .icon-stars img {
    width: 16px;
    height: 16px;
  }
}

// footer
.footer {
  margin-bottom: 60px;
  background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/master/images/home_footer.png') no-repeat center top 0%;
  background-size: cover;
  padding-top: 260px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-btn {
    padding: 12px 32px;
    border-radius: 200px;
    &:hover {
      background: $danger;
      transition: .2s;
    }
  }
}

// copyright
.copyright {
  padding: 16px 0;
}

// Page-scheme
// header
.header-scheme {
  @include desktop {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme.svg') no-repeat top right;
    background-size: contain;
  }
  .banner {
    padding-top: 48px;
    height: calc( 100vh - 72px );
    @include desktop {
      padding-top: 92px;
      height: calc( 100vh - 88px );
    }
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme_sm.svg') no-repeat right;
    background-size: cover;
    @include pad-lg {
      background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/9d92b0a6dee69410690d3e20f89b76ffe391457b/images/banner_scheme.svg') no-repeat top center;
    }
    @include desktop {
      background: none;
    }
  }

  .scheme-background {
    background: $light;
    height: calc( 100% - 72px );
    border-radius: 0 0 0 150px;
    top: 72px;
    left: 0;
    z-index: -10;
    @include pad-lg {
      height: 470px;
    }
    @include desktop {
      top: 0;
      border-radius: 0 0 0 350px;
    }
  }
}

// options
.options {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-scrollbar {
    overflow-x: auto;
  }
  &-btns {
    width: 542px;
    margin: 0 auto 16px;
  }
  &-btns a {
    padding: 8px 16px;
    border-radius: 100px;
    margin: 0 8px;
    white-space: nowrap;
    &:hover {
      background: $danger;
      transition: .2s;
    }
    @include desktop {
      padding: 12px 32px;
    }
  }
  .card-title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0 16px;
  }
  .card-body {
    padding: 32px 28px;
  }
  .card-list {
    font-size: 14px;
    @include pad-lg {
      font-size: 16px;
    }
  }
  .card-list img {
    margin-right: 12px;
    @include desktop {
      width: 16px;
      height: 14px;
    }
  }
  .card-btn a {
    padding: 12px 32px;
    border-radius: 100px;
    &:hover {
      background: $danger;
      transition: .2s;
    }
  }

  &-ball {
    background: url('https://raw.githubusercontent.com/Cliff1213/chatTalker/d21e2e374fe5651c6cf7088d8a7e611c2b1d1106/images/ball03.svg') no-repeat right;
    background-size: cover;
    top: -80px;
    left: 0;
    width: 94px;
    height: 200px;
    z-index: -10;
    @include desktop {
      top: 50px;
    }
    @include desktop-lg {
      width: 94px;
      height: 400px;
      top: 260px;
    }
  }
}
.switch {
  @include desktop {
    justify-content: space-between;
  }
  &-item {
    width: 169px;
    height: 108px;
  }
  &-icon {
    margin: 0 6px;
  }
  &-text {
    font-size: 12px;
  }
  sub {
    font-size: 12px;
  }
}

// FAQ
.faq {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 100px;
  }
  &-item {
    padding: 16px;
    cursor: pointer;
    @include desktop {
      padding: 16px 32px;
    }
    &:hover {
      background: $bright;
      transition: .2s;
    }
  }
  &-icon i {
    @include desktop {
      font-size: 20px;
    }
  }
  &-answer {
    margin-top: 16px;
    @include desktop {
      margin-top: 24px;
    }
  }
}

// scroll2top
.scroll2top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 200px;
  &:hover {
    background: $danger;
    transition: .2s;
  }
  @include desktop {
    width: 70px;
    height: 70px;
  }
}