// colors
$secondary: #747474 !important;
$warning: #FFD153 !important;
$info: #56C4C5 !important;
$danger: #FF5D50 !important;
$dark: #221E1F !important;
$bright: #F5F5F5 !important;
$light: #F7F9FD !important;
$white: #FFFFFF !important;

// grid
$gutter-width: 16px;
$grid-num: 12;